<footer class='footer'>
  <div class='footer-subscribe g'>
    <div class='container'>

    </div>
  </div>

  <div class='footer-bottom g'>
    <div class='container'>
      <div class='b-footer-bottom'>
        <div class='c1'>
          <div class='footer-copyright'>
            <span class='t'>JS &#169; 2025</span>
          </div>
        </div>

        <div class='c2'>
          <ul class='footer-socials'>
            <li class='item'>
              <a href='https://linkedin.com' class='link'>
                <div class='social-icon'>
                  <i class='icon icon-linkedin'></i>
                </div>
              </a>
            </li>

            <li class='item'>
              <a href='https://github.com' class='link'>
                <div class='social-icon'>
                  <i class='icon icon-github'></i>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>